<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
      <div class="interactive flip">
        <div class="graphic-hed" id="distance-caption">Beyond the list price</div>
        <div class="graphic-chatter">Across the Puget Sound region, homes frequently sell for more than their list price as buyers compete for a limited number of houses for sale. The homes below were sold in 2021. Can you guess how much each sold for? Click or hover over each house for the answer.</div>

        <div class="grid">
            <div class="flip-card">
                <p class="city">TACOMA <br> Listed: $585,000</p>
                <div class="text-flip">
                    <div class="details">&#8226; 2,089 square feet</div>
                    <div class="details">&#8226; 4 bed/1.5 bath</div>
                    <div class="details">&#8226; 1914 Craftsman</div>
                    <div class="details">&#8226; New appliances</div>
                </div>
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="assets/Tacoma.jpg" alt="Tacoma home">
                    </div>
                    <div class="flip-card-back">
                        <p class="city">Sold: $665,000</p>
                        <p class="details">$80,000 above list price</p>
                        <p class="details">Photo courtesy of Robert Brittingham</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <p class="city">HILLMAN CITY, SEATTLE <br> Listed: $769,000</p>
                <div class="text-flip">
                    <div class="details">&#8226; 1,320 square feet</div>
                    <div class="details">&#8226; 3 bed/3.25 bath</div>
                    <div class="details">&#8226; Mudroom</div>
                    <div class="details">&#8226; Detached studio</div>
                </div>
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="assets/HillmanCity.jpg" alt="Hillman City home">
                    </div>
                    <div class="flip-card-back">
                        <p class="city">Sold: $820,000</p>
                        <p class="details">$51,000 above list price</p>
                        <p class="details">Photo courtesy of Dan Farmer</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <p class="city">LYNNWOOD <br> Listed: $439,900</p>
                <div class="text-flip">
                    <div class="details">&#8226; 1,583 square feet</div>
                    <div class="details">&#8226; 3 bed/3 bath</div>
                    <div class="details">&#8226; Townhouse</div>
                    <div class="details">&#8226; Sunny deck</div>
                </div>
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="assets/Lynnwood_townhouse.jpg" alt="Lynnwood townhouse">
                    </div>
                    <div class="flip-card-back">
                        <p class="city">Sold: $481,000</p>
                        <p class="details">$41,100 above list price</p>
                        <p class="details">Photo courtesy of Nichola Gerlach</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <p class="city">SPANAWAY <br> Listed: $429,999</p>
                <div class="text-flip">
                    <div class="details">&#8226; 2,171 square feet</div>
                    <div class="details">&#8226; 3 bed/2.5 bath</div>
                    <div class="details">&#8226; Quarter-acre lot </div>
                    <div class="details">&#8226; Large deck</div>
                </div>
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="assets/Spanaway.jpg" alt="Spanaway home">
                    </div>
                    <div class="flip-card-back">
                        <p class="city">Sold: $460,000</p>
                        <p class="details">$30,001 above list price</p>
                        <p class="details">Photo courtesy of Victor Molina</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <p class="city">FIRST HILL, Seattle <br> Listed: $610,000</p>
                <div class="text-flip">
                    <div class="details">&#8226; 964 square feet</div>
                    <div class="details">&#8226; 2 bed/1 bath</div>
                    <div class="details">&#8226; Condo</div>
                    <div class="details">&#8226; 2 balconies</div>
                </div>
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="assets/first-hill.jpg" alt="First Hill home">
                    </div>
                    <div class="flip-card-back">
                        <p class="city">Sold: $610,000</p>
                        <p class="details">Sold at list price</p>
                        <p class="details">Photo courtesy of Brian Huie</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <p class="city">KENT<br>Listed: $574,000</p>
                <div class="text-flip">
                    <div class="details">&#8226; 2,760 square feet</div>
                    <div class="details">&#8226; 4 bed/2.25 bath</div>
                    <div class="details">&#8226; Family room</div>
                    <div class="details">&#8226; Fenced backyard</div>
                </div>
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="assets/Kent.jpg" alt="Kent home">
                    </div>
                    <div class="flip-card-back">
                        <p class="city">Sold: $593,000</p>
                        <p class="details">$19,000 above list price</p>
                        <p class="details">Photo courtesy of John G Wilbanks Photography</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <p class="city">QUEEN ANNE, SEATTLE <br> Listed: $2.05M</p>
                <div class="text-flip">
                    <div class="details">&#8226; 3,080 square feet</div>
                    <div class="details">&#8226; 4 bed/2.5 bath</div>
                    <div class="details">&#8226; Rooftop deck</div>
                    <div class="details">&#8226; Two-car garage</div>
                </div>
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="assets/QueenAnne.jpg" alt="Queen Anne, Seattle home">
                    </div>
                    <div class="flip-card-back">
                        <p class="city">Sold: $2.225M</p>
                        <p class="details">$175,000 above list price</p>
                        <p class="details">Photo courtesy of Redfin</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <p class="city">KIRKLAND <br> Listed: $565,000</p>
                <div class="text-flip">
                    <div class="details">&#8226; 1,000 square feet</div>
                    <div class="details">&#8226; 2 bed/1.75 bath</div>
                    <div class="details">&#8226; Condo</div>
                    <div class="details">&#8226; Newly remodeled</div>
                </div>
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="assets/Kirkland.jpg" alt="Kirkland condo home">
                    </div>
                    <div class="flip-card-back">
                        <p class="city">Sold: $565,000</p>
                        <p class="details">Sold at list price</p>
                        <p class="details">Photo courtesy of Nolan Green</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="source-container"> 
            <p class="data-source">Sources: Redfin, Zillow, Compass, Windermere, RexMont, Ewing and Clark, Realogics Sotheby’s, The Agents Real Estate Group</p>
            <p class="art-credit">Emily M. Eng / The Seattle Times</p>
        </div>
    </div>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
